<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-4">
            <div *ngIf="adminModeTrigger">
                <h2>Admin Login</h2>
            </div>
            <div *ngIf="!adminModeTrigger">
                <h2>User Login</h2>
            </div>
            <form
                (ngSubmit)="!adminModeTrigger?studentsService.studentLogin(loginForm):adminService.adminLogin(loginForm)"
                [formGroup]="loginForm" class="row g-3">
                <input type="userName" placeholder="Username" formControlName="userName" class="form-control">
                <input type="password" placeholder="Password" formControlName="password" class="form-control">
                <button type="submit" class="btn btn-light">Login</button>
            </form>
        </div>
    </div>
    <div>
        <button *ngIf="adminModeTrigger" class="btn btn-light" (click)="loginModeTrigger()">Go to User Login</button>
        <button *ngIf="!adminModeTrigger" class="btn btn-light" (click)="loginModeTrigger()">Go to Admin Login</button>
    </div>
    <div id="myModal" class="modal" *ngIf="adminService.popOutMood">
        <div class="modal-content">
            <span class="close" (click)="adminService.popOutMoodTrigger()">&times;</span>
            <p>{{adminService.popOutMessage}}</p>
        </div>
    </div>
    <div id="myModal" class="modal" *ngIf="studentsService.popOutMood">
        <div class="modal-content">
            <span class="close" (click)="studentsService.popOutMoodTrigger()">&times;</span>
            <p>{{studentsService.popOutMessage}}</p>
        </div>
    </div>
</div>