.queryEntry {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.studentInput {
  display: flex;
  flex-direction: column;
  height: 13vh;
}

.button {
  margin-top: 25px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;

}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.form_validators{
  font-size: 11px;
  color:red;
  font-weight: 600;
}